
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e0e0e0;
}

h1 {
  margin: 50px 100px 0px 100px;
}

h2 {
  margin: 0 auto;
  text-align: center;
}

h4 {
  margin: 10px 100px 0px 100px;
  font-weight: 300;
}

.section-page h1 {
  margin: 200px;
  text-align: center;
}

.frame {
  /* border: solid 1px black; */
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #fff;
  margin: 50px 100px 10px 100px;
  font-size: 18px;
  min-height: 300px;
}

.frame textarea {
  height: 100px;
  width: 80%;
}

.box {
  display: flex;
  flex-direction: column;
}

.box h1 {
  margin: 0 10%;
  background-color: #263238;
  color: #e0e0e0;
  padding: 5px;
  font-size: 24px;
}

.feedback-true, .feedback-false {
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-true {
  color: #116466;
}

.feedback-false {
  color: red;
}

.feedback-stone {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.task-box {
  /* background-color: #a0a0a0; */
  min-width: 500px;
  width: 80%;
  height: 200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.display-box, .record-pan,
.button-group, .button-group-vc,
.instruction, .input-box {
  height: 80%;
  margin: 10px;
  display: flex;
}

.display-box, .record-pan, .input-box, .task-button,
.instruction, .instruction h1 {
  background-color: #f4f4f4;
}

.button-group {
  width: 8%;
  display: flex;
  flex-direction: column;
}

.button-group-vc {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.display-box {
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
}

.record-pan, .instruction {
  width: 25%;
}

.instruction {
  flex-direction: column;
}

.instruction h1 {
  padding: 0px 20px;
  margin: 20px 0px;
  font-size: 20px;
}

.instruction ul {
  padding: -10px;
  margin: 5px 0px;
}

.instruction li {
  margin: 10px;
}


.selection-panel {
  /* background-color: black; */
  padding: 5px;
}

.selection-panel td:hover {
  border: 3px solid #e0e0e0;
}


.task-button, .big-button {
  border: #e0e0e0 1px solid;
  text-align: center;
  border-radius: 10%;
  margin: 2px;
  padding: 5px 10px;
}

.task-button:hover:enabled,
.big-button:hover:enabled {
  background-color: #116466;
  color: #e0e0e0;
}

.task-button:disabled,
.big-button:disabled,
.task-button:disabled:hover,
.big-button:disabled:hover {
  opacity: 0.5;
  cursor: not-allowed;
}

.big-button {
  font-size: 15px;
  padding: 10px 30px;
}

.record-pan {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: scroll;
}

/* Stones attributes */
.stone, .stone-before {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  transition: all 1s cubic-bezier(0, 0, 1, 1);
  position: relative;
  left: 0;
  background-color: #116466;
}

.stone-before {
  opacity: 0.4;
}

.panel-stone {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  /* background-color: #116466; */
  margin: 5px
}

.input-box {
  width: 100%;
  padding: 0px;
}

.input-form {
  padding: 0px 10px;
  width: 100%;
}

.input-form textarea {
  height: 40px;
  width: 100%;
  border: 0px;
}

.edit-buttons {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}

.stone-sets {
  display: flex;
}

#consent-info {
  height: 400px;
  overflow: scroll;
  padding: 0 0 20px 0;
}

#instruction-eg {
  width: 50%;
  height: 100px;
  border: solid black 1px;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
