
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e0e0e0;
}

h1 {
  margin: 50px 100px 0px 100px;
}

h2 {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
}
h3 {
  color: darkorange;
}
h4 {
  margin: 10px 100px 0px 100px;
  font-weight: 300;
}

.section-page h1 {
  margin: 200px;
  text-align: center;
}

.frame {
  /* border: solid 1px black; */
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  margin: 20px 100px;
  font-size: 18px;
  /* min-height: 300px; */
}

.frame p,
.frame li {
  line-height: 1.5;
}

.frame textarea {
  height: 100px;
  width: 80%;
}

.box {
  display: flex;
  flex-direction: column;
}

.feedback-true, .feedback-false {
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-true {
  color: #116466;
}

.feedback-false {
  color: red;
}

.feedback-stone {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.task-box {
  min-width: 500px;
  height: 360px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-box h2 {
  text-align: left;
  font-size: 30px;
  width: 100%;
}
.task-box h3 {
  text-align: left;
  width: 100%;
  color: black;
  padding: 0;
  margin: 0 0 5px 0;
}

.input-div {
  height: 400px;
  width: 100%;
}
.input-box {
  height: 90%;
  margin: 0;
}

.display-box, .task-div,
.button-group, .input-box, .hist-box,
.instruction, .record-pan {
  height: 90%;
  margin: 10px;
  display: flex;
}

.record-pan,
.task-button,
.instruction, .instruction h1 {
  background-color: #f4f4f4;
}
.hist-box {
  width: 80%;
  margin: auto;
}
.task-num h1,
.task-div h1 {
  margin: 0px;
  color: black;
  padding: 5px;
  font-size: 24px;}

.task-div {
  flex-direction: column;
  width: 100%;
}
.display-div {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.record-pan, .instruction {
  width: 25%;
}

.record-pan {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: scroll;
}

.record-pan p {
  margin: 5px;
  text-align: left;
  width: 100%;
}

.button-group {
  width: 8%;
  display: flex;
  flex-direction: column;
}

.button-group-vc {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.display-box {
  width: 100%;
  border: #bbbbbb solid 2px;
  justify-content: space-evenly;
  align-items: center;
}
.selection-box {
  height: 100%;
  width: 30%;
  margin: 0px;
}
.selection-composer {
  height: 98%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selection-form-div,
.selection-svg-div,
.selection-buttons {
  width: 90%;
  margin: 2% 6%;
}
.selection-form p {
  margin: 0px;
}
.selection-form select {
  width: 40%;
}
.selection-svg-div {
  /* margin: 6% 2%; */
  height: 80%;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #bbbbbb solid .5px;
}
.selection-object {
  height: 65px;
  width: 65px;
}

.instruction {
  flex-direction: column;
}

.instruction h1 {
  padding: 0px 20px;
  margin: 20px 0px;
  font-size: 20px;
}

.instruction ul {
  padding: -10px;
  margin: 5px 0px;
}

.instruction li {
  margin: 10px;
}


.selection-panel {
  /* background-color: black; */
  padding: 5px;
}

.selection-panel td:hover {
  border: 3px solid #e0e0e0;
}

.task-button, .big-button {
  border: #e0e0e0 1px solid;
  text-align: center;
  border-radius: 10%;
  margin: 2px;
  padding: 5px 10px;
}

.task-button:hover:enabled,
.big-button:hover:enabled {
  background-color: #116466;
  color: #e0e0e0;
}

.task-button:disabled,
.big-button:disabled,
.task-button:disabled:hover,
.big-button:disabled:hover {
  opacity: 0.5;
  cursor: not-allowed;
}

.big-button {
  font-size: 15px;
  padding: 10px 30px;
}

/* Stones attributes */
.stone, .stone-before {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  transition: all 1s cubic-bezier(0, 0, 1, 1);
  position: relative;
  left: 0;
  background-color: #116466;
}

.stone-before {
  opacity: 0.4;
}

.panel-stone {
  height: 20px;
  width: 20px;
  /* background-color: #116466; */
  margin: 5px
}

.input-box {
  height: 90%;
  padding: 0px;
}

.input-form {
  padding: 0px 10px;
  height: 80%;
}

.input-form textarea {
  height: 60%;
  width: 98%;
  border: #bbbbbb solid 0.5px;
}

.edit-buttons {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}

.stone-sets {
  display: flex;
}

#consent-info {
  height: 400px;
  overflow: scroll;
  padding: 0 0 20px 0;
}

#instruction-eg {
  width: 50%;
  height: 100px;
  border: solid black 1px;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.test {
  height: 80px;
  width: 80px;
}

.sum {
  height: 20px;
  width: 20px;
}

.shape {
  stroke: #BDBDBD;
  /* stroke: rgba(136, 136, 136, .5); */
}

.new-stone {
  transition: all 1s cubic-bezier(0, 0, 1, 1);
  position: relative;
  left: 0;
}

.sum-box {
  /* border: solid 1px #bbbbbb;
  background-color: #fff; */
  height: 80%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
}
.sum-display {
  height: 80%;
  width: 80%;
  border: solid 1px #bbbbbb;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}
.sum-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#instruction-demo-display {
  border: solid 1px #BDBDBD;
  width: 40%;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#pass, #retry {
display: flex;
flex-direction: column;
}

.setup h1 {
  text-align: center;
}

.setup th, td {
  width: 120px;
  text-align: center;
  background-color: white;
}

.divider {
  margin: 10px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.setup-stone {
  height: 40px;
  width: 40px;
}

#showcase {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  height: 240px;
}

.case {
  height: 100px;
  width: 30%;
  margin: 10px;
}

.sum-wrap {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: #bbbbbb solid 2px;
  /* background-color: #bbbbbb; */
  align-items: center;
}
#core-gen-div {
  display: flex;
  flex-direction: column;
}
