
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e0e0e0;
}

.task-box {
  /* background-color: #a0a0a0; */
  min-width: 500px;
  width: 80%;
  height: 200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.display-box, .sel-pan, .record-pan, .button-group {
  background-color: #f4f4f4;
  height: 80%;
  margin: 10px;
  display: flex;
}

.button-group {
  width: 8%;
  display: flex;
  flex-direction: column;
}

.display-box {
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
}

.sel-pan, .record-pan {
  width: 25%;
}

.play-button, .reset-button, .check-button, .next-button {
  background-color: #f4f4f4;
  border: #e0e0e0 1px solid;
  height: 20px;
  width: 80%;
  text-align: center;
  border-radius: 10%;
  margin: 2px;
}

.play-button:hover, .reset-button:hover,
.check-button:hover, .next-button:hover {
  background-color: #116466;
  color: #e0e0e0;
}

.record-pan {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.pink-bg {
  height: 80%;
  width: 80%;
  background-color: pink;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Stones attributes */
.stone {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  transition: all 1s cubic-bezier(0, 0, 1, 1);
  position: relative;
  left: 0;
  background-color: #116466;
}

.blue-plain {
  background-color: rgb(61, 60, 134);
}

.yellow-plain {
  background-color: rgb(245, 230, 99);
}

.red-plain {
  background-color: rgb(163, 53, 47);
}

.blue-yellow-vt {

}

.blue-yellow-left {
  background: repeating-linear-gradient(
    -45deg,
    rgb(245, 230, 99),
    rgb(245, 230, 99) 10px,
    rgb(61, 60, 134) 10px,
    rgb(61, 60, 134) 20px
  );
}
